<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Daily Journel</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Open Sans' rel = "stylesheet" />
  <div class="navbar">
    <p class="navbar-header">DAILY JOURNEL</p>
    <div class="navbar-list">
      <ul>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</head>
<body>
