<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <%- include("header"); -%>
      <div class="temp-div">
        <h1 class = "temp-h1"><%= headingVariable %></h1>
        <p class = "temp-p"><%= paraVariable %></p>
      </div>
  </body>
  <%- include("footer"); -%>

</html>
